html .dp-framework{
    font-size: 14px;
}

@import 'base/colors.scss';
@import 'base/typography.scss';
@import 'base/breakpoints.scss';
@import 'base/space.scss';
@import 'base/utility.scss';

@import 'elements/form'; 
@import 'elements/buttons'; 
@import 'elements/radio'; 
@import 'elements/checkbox';
@import 'elements/input';    
@import 'elements/select';     
@import 'elements/switch';
@import 'elements/tooltip';

@import 'components/tabular';
@import 'components/tabs';
@import 'components/checkbox-group';
@import 'components/cards';


.dp__divider{
    background-color: $border;
    width: 100%;
    height: 1px;
    display: block;
    margin: var(--space__s) 0 var(--space__m) 0;
    border-radius: 4px;
}
// Usage
// <span class="dp__divider"></span>


.space-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    > * {
        margin: 0;
    }
}


.dp-framework .wp-heading-inline {
    font-weight: 700;
}