html{
    font-size: 16px;
}

@import 'base/colors.scss';
@import 'base/typography.scss';
@import 'base/breakpoints.scss';
@import 'base/space.scss';
@import 'base/utility.scss';

@import 'elements/buttons'; 
@import 'elements/radio'; 
@import 'elements/checkbox';
@import 'elements/input';    
@import 'elements/select';     
@import 'elements/switch';
@import 'elements/tabular';


// Copy to clipboard

.dp__copy-to-clip {
    display: flex;

    > * {
        margin-right: 10px;
    }
}