html {
  font-size: 16px;
}

:root {
  --pri: #2245f8;
  --sec: #ffeb57;
  --text: #000000;
  --text_sec: #606e79;
  --bg: #ffffff;
  --bg_sec: #f9f9f9;
  --border: #dee1e3;
  --disabled: #dee1e3;
}

:root {
  --space__xs: 10px;
  --space__s: 20px;
  --space__m: 40px;
  --space__l: 80px;
  --space__xl: 120px;
  --space__xxl: 180px;
}
@media (max-width: 600px) {
  :root {
    --space__xs: 8px;
    --space__s: 15px;
    --space__m: 30px;
    --space__l: 60px;
    --space__xl: 80px;
    --space__xxl: 120px;
  }
}

.p__xs {
  padding: var(--space__xs);
}

.p__s {
  padding: var(--space__s);
}

.p__m {
  padding: var(--space__m);
}

.p__l {
  padding: var(--space__l);
}

.p__xl {
  padding: var(--space__xl);
}

.p__xxl {
  padding: var(--space__xxl);
}

.p-top__xs {
  padding-top: var(--space__xs);
}

.p-top__s {
  padding-top: var(--space__s);
}

.p-top__m {
  padding-top: var(--space__m);
}

.p-top__l {
  padding-top: var(--space__l);
}

.p-top__xl {
  padding-top: var(--space__xl);
}

.p-top__xxl {
  padding-top: var(--space__xxl);
}

.p-bottom__xs {
  padding-bottom: var(--space__xs);
}

.p-bottom__s {
  padding-bottom: var(--space__s);
}

.p-bottom__m {
  padding-bottom: var(--space__m);
}

.p-bottom__l {
  padding-bottom: var(--space__l);
}

.p-bottom__xl {
  padding-bottom: var(--space__xl);
}

.p-bottom__xxl {
  padding-bottom: var(--space__xxl);
}

.p-y__xs {
  padding-top: var(--space__xs);
  padding-bottom: var(--space__xs);
}

.p-y__s {
  padding-top: var(--space__s);
  padding-bottom: var(--space__s);
}

.p-y__m {
  padding-top: var(--space__m);
  padding-bottom: var(--space__m);
}

.p-y__l {
  padding-top: var(--space__l);
  padding-bottom: var(--space__l);
}

.p-y__xl {
  padding-top: var(--space__xl);
  padding-bottom: var(--space__xl);
}

.p-y__xxl {
  padding-top: var(--space__xxl);
  padding-bottom: var(--space__xxl);
}

.p-x__xs {
  padding-left: var(--space__xs);
  padding-right: var(--space__xs);
}

.p-x__s {
  padding-left: var(--space__s);
  padding-right: var(--space__s);
}

.p-x__m {
  padding-left: var(--space__m);
  padding-right: var(--space__m);
}

.p-x__l {
  padding-left: var(--space__l);
  padding-right: var(--space__l);
}

.p-x__xl {
  padding-left: var(--space__xl);
  padding-right: var(--space__xl);
}

.p-x__xxl {
  padding-left: var(--space__xxl);
  padding-right: var(--space__xxl);
}

.m__xs {
  margin: var(--space__xs);
}

.m__s {
  margin: var(--space__s);
}

.m__m {
  margin: var(--space__m);
}

.m__l {
  margin: var(--space__l);
}

.m__xl {
  margin: var(--space__xl);
}

.m__xxl {
  margin: var(--space__xxl);
}

.m-top__xs {
  margin-top: var(--space__xs);
}

.m-top__s {
  margin-top: var(--space__s);
}

.m-top__m {
  margin-top: var(--space__m);
}

.m-top__l {
  margin-top: var(--space__l);
}

.m-top__xl {
  margin-top: var(--space__xl);
}

.m-top__xxl {
  margin-top: var(--space__xxl);
}

.m-bottom__xs {
  margin-bottom: var(--space__xs);
}

.m-bottom__s {
  margin-bottom: var(--space__s);
}

.m-bottom__m {
  margin-bottom: var(--space__m);
}

.m-bottom__l {
  margin-bottom: var(--space__l);
}

.m-bottom__xl {
  margin-bottom: var(--space__xl);
}

.m-bottom__xxl {
  margin-bottom: var(--space__xxl);
}

.m-y__xs {
  margin-top: var(--space__xs);
  margin-bottom: var(--space__xs);
}

.m-y__s {
  margin-top: var(--space__s);
  margin-bottom: var(--space__s);
}

.m-y__m {
  margin-top: var(--space__m);
  margin-bottom: var(--space__m);
}

.m-y__l {
  margin-top: var(--space__l);
  margin-bottom: var(--space__l);
}

.m-y__xl {
  margin-top: var(--space__xl);
  margin-bottom: var(--space__xl);
}

.m-y__xxl {
  margin-top: var(--space__xxl);
  margin-bottom: var(--space__xxl);
}

.m-x__xs {
  margin-left: var(--space__xs);
  margin-right: var(--space__xs);
}

.m-x__s {
  margin-left: var(--space__s);
  margin-right: var(--space__s);
}

.m-x__m {
  margin-left: var(--space__m);
  margin-right: var(--space__m);
}

.m-x__l {
  margin-left: var(--space__l);
  margin-right: var(--space__l);
}

.m-x__xl {
  margin-left: var(--space__xl);
  margin-right: var(--space__xl);
}

.m-x__xxl {
  margin-left: var(--space__xxl);
  margin-right: var(--space__xxl);
}

.p__none {
  padding: 0;
}

.p-top__none {
  padding-top: 0;
}

.p-bottom__none {
  padding-bottom: 0;
}

.m__none {
  margin: 0;
}

.m-top__none {
  margin-top: 0;
}

.m-bottom__none {
  margin-bottom: 0;
}

.dp__btn {
  display: -webkit-inline-flex;
  display: inline-flex;
  font-size: 1.1em;
  text-decoration: none;
  padding: var(--space__xs) var(--space__s);
  border-radius: 0.2rem;
  font-weight: 300;
  letter-spacing: 0.03rem;
  outline: 0;
  border: 0;
  transition: all 0.1s ease;
  cursor: pointer;
  background-color: var(--bg_sec);
  color: var(--pri);
}
.dp__btn:hover {
  opacity: 0.9;
}
.dp__btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.dp__btn-large {
  font-size: 1.5em;
}

.dp__btn-pri {
  background: var(--pri);
  color: white;
}

.dp__btn-sec {
  background: var(--sec);
  color: black;
}

.dp__btn-delete {
  background: #c41c3b;
  color: white;
}

.dp__btn-outline {
  background: var(--bg);
  color: var(--pri);
  border: 2px solid var(--pri);
}

.dp__btn-text {
  background: none;
  color: var(--pri);
  text-decoration: underline;
  border: 2px solid transparent;
}
.dp__btn-text:hover {
  border: 2px solid var(--pri);
  text-decoration: none;
}

.dp__btn-icon {
  gap: var(--space__xs);
}
.dp__btn-icon svg {
  fill: currentColor;
}

/*# sourceMappingURL=framework.css.map */