<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="layout" content="default"/>
</head>
<body>

<h1 id="dpluginsstyleguide">dPlugins Styleguide</h1>

<p>Admin UI for WordPress Plugins</p>

<hr />

<h2 id="colors">Colors</h2>

<div class="colors">
<div class="color-wrap">
    <div class="colorbox pri"></div>
    Primary
</div>

<p><div class="color-wrap">
<div class="colorbox sec"></div>
Secondary
</div></p>

<p><div class="color-wrap">
<div class="colorbox text"></div>
Text
</div></p>

<p><div class="color-wrap">
<div class="colorbox bg"></div>
Background
</div></p>

<p><div class="color-wrap">
<div class="colorbox text_sec"></div>
Text Secondary
</div></p>

<p><div class="color-wrap">
<div class="colorbox bg_sec"></div>
Background Secondary
</div></p>

<p><div class="color-wrap">
<div class="colorbox border"></div>
Border
</div></p>

<p><div class="color-wrap">
<div class="colorbox disabled"></div>
Disabled
</div></p>

</div>

<hr />

<h2 id="typography">Typography</h2>

<h1 id="titleh1">Title h1</h1>

<h2 id="titleh2">Title h2</h2>

<h3 id="titleh3">Title h3</h3>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, voluptatem placeat. Quos, tenetur. Voluptas esse beatae mollitia velit nesciunt nihil cumque repudiandae recusandae magni tenetur, vel neque ab sit libero.</p>

<p>&lt;!&#8211; <div class='o-wrapper'>
<div class='o-grid'>
{% for post in paginator.posts %}
 {% include post-card.liquid %}
{% endfor %}
</div></p>

<p><div class='o-grid'>
{% include pagination.html %}
</div></p>

</div> -->

</body>
</html>

