.dp__btn{
    display: inline-flex;
    font-size: 1.1em;
    text-decoration: none;  
    padding: var(--space__xs) var(--space__s);  
    border-radius: .2rem;
    font-weight: 300;
    letter-spacing: 0.03rem;
    outline: 0;
    border: 0;
    transition: all 0.1s ease;
    cursor: pointer;

    background-color: $bg_sec;
    color: $pri;

    &:hover{
        opacity: 0.9;
    }

    &:active{
        transform: translateY(2px);
    }
}

.dp__btn-large{
    font-size: 1.5em;
}

.dp__btn-pri{
    background: $pri;
    color: white;   
}

.dp__btn-sec{
    background: $sec;
    color: black;
}

.dp__btn-delete{
    background: #c41c3b;
    color: white;
}

.dp__btn-outline{
    background: $bg;
    color: $pri;
    border: 2px solid $pri;
}

.dp__btn-text{
    background: none;
    color: $pri;
    text-decoration: underline;
    border: 2px solid transparent;

    &:hover{
        border: 2px solid $pri;
        text-decoration: none;
    }
}

.dp__btn-icon{
    gap: var(--space__xs);
    svg{
        fill: currentColor;
    }
}
