.dp__checkbox{
    *{
        box-sizing: border-box;
    }
    
    // Reset
    input[type=checkbox]{
        border: none;
        clear: none;
        cursor: pointer;
        outline: 0;
        -webkit-appearance: none;
    }

    // Style
    input[type=checkbox] {
        border-radius: 2px;
        background: none;
        border: 2px solid $border;
        
        height: 20px !important;
        width: 20px !important;
        margin-right: 5px;
        position: relative;
        z-index: 2;

        &:hover {
            border: 2px solid $pri;
        }

        &:checked {

        }
        
        &:after{

        }

        &:checked:after{
            position: absolute;
            z-index: 1;
            top: -2px;
            left: -2px;
            width: 100%;
            height: 100%;
            content: '';
            display: block;
            background-color: $pri;
            border: 2px solid $pri;   
            background-size: contain;
            
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMThweCIgaGVpZ2h0PSIxOHB4IiB2aWV3Qm94PSIwIDAgMTggMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgICA8cG9seWdvbiBwb2ludHM9IjcgMTQgMiA5IDMuNDEgNy41OSA3IDExLjE3IDE0LjU5IDMuNTggMTYgNSI+PC9wb2x5Z29uPgo8L3N2Zz4=);
            
        }

    }

    label{
        display: inline-flex;
        align-items: center;
    }

}


// input[type=checkbox] {
//     border-radius: 2px;
//     background: none;
    // border: 2px solid $not-active-color;
    
//     height: 20px !important;
//     width: 20px !important;
        
//         &:hover{
//             // border: 2px solid $action;        
//         }
    
//         &:before {
//             content: '';
//             display: block;
//             position: relative;
//             left: 10px;
//             top: 4px;
//             width: 5px;
//             height: 10px;
//             transform: rotate(45deg);
//             border-style: solid;
//             border-color: white;
//             border-image: initial;
//             border-width: 0px 2px 2px 0px;

//             transform: rotate(45deg) scale(0);
//             transition: all 0.1s ease-in;
//         }


//         &:checked {
//             // background-color: $action;
//             // border: 2px solid $action;        
//         }

//         &:checked:before {
//             transform: rotate(45deg) scale(1);
//             transition: all 0.1s ease-in;
//         }

//         &:focus{
//             box-shadow: none;
//             outline: none;
//         }

// }