/*===============================
=            Tabular            =
===============================*/

.dp-tabular{

    ul{
        border: 2px solid var(--admin_bg);
        border-radius: 4px;
        display: flex;
        padding: 10px 5px;        

            &:hover{
                background: var(--admin_bg);
            }


            li{
                margin: 2px 5px;
                cursor: pointer;

                &:hover{
                    cursor: pointer;                    
                }
            } // End of li

            input{
                display: none;
                cursor: pointer;


                & ~ span{
                    padding: 5px 10px;
                    border: 2px solid transparent;
                    border-radius: 4px;
                    background: white;
                }


                &:hover ~ span {
                    border: 2px solid $action;
                }


                &:checked ~ span{
                    color: white;
                    background-color: $action;
                    border: 2px solid $action;

                }

            } // End of input

            
    }  // End of ul


} // End of tabular
