/*===============================
=            Tabular            =
===============================*/
.dp-tabular{
    border: 2px solid $border;
    border-radius: var(--space__xs);
    padding: var(--space__xxs);
    font-size: 14px;
    line-height: 1;

    > * {
        display: flex;
    }

    ul{
        padding: 0;
        margin: 0;
        list-style: none;

        li{ list-style: none;   }
    }

    label{
        margin-right: var(--space__xs);
        
        span{
            padding: var(--space__xs);;
            display: inline-block;
            background: $bg;
            cursor: pointer;
            border-radius: var(--space__xxs);
            border: 2px solid transparent;

            &:hover{
                border: 2px solid $pri;
            }
        }
    }

    input{
        display: none;

        &:checked ~ span{
            background: $pri;
            color: white;
            border: 2px solid $pri;
        }
    }
}

.dp-tabular{
    // background: $bg;

    // ul{
    //     border: 2px solid $border;
    //     border-radius: var(--space__xxs);
    //     display: flex;

    //     margin-block-start: 0;
    //     margin-block-end: 0;

    //     padding: var(--space__xs);

    //     li {
    //         list-style: none;
    //     }

    // }  // End of ul

    // label{
    //     margin-right: var(--space__xs);

    //     span{
    //         padding: var(--space__xxs) var(--space__xs);
    //         color: $text;

    //     }

    //     &:hover ~ span {
    //         border: 2px solid $pri;
    //     }
    // }

    // input{
    //     // display: none;

    //     &:checked ~ span{
    //         background-color: $pri;
    //         color: white;
    //     }    

       
    // }

    

            // li{
            //     margin-right: var(--space__xs);
            //     cursor: pointer;
            //     list-style: none;
            //     border: 2px solid transparent;      

            //     &:hover{
            //         cursor: pointer;    
            //         border: 2px solid $pri;                
            //     }
            // } // End of li

            // label{
            //     position: relative;
            //     background-color: yellow;
            // }

            // input{
            //     position: absolute;
            //     left: 0;
            //     top: 0;
            //     width: 200px;
            //     background-color:green;
            //     border: 20px solid red;

            //     // display: none;
            //     // cursor: pointer;


            //     & ~ span{
            //         padding: var(--space__xxs) var(--space__xs) ;        
            //         // border: 2px solid red;
            //         border-radius: var(--space__xxs);
            //         background: $bg;
            //         display: block;
            //     }


            //     &:hover ~ span {
            //         border: 2px solid $pri;
            //     }


            //     &:checked ~ span{
            //         color: white;
            //         background-color: $pri;
            //         border: 2px solid $pri;
            //     }

            // } // End of input

            



} // End of tabular
