$typo:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
body {
    font-family: $typo;
    background-color: $bg_sec;
    padding: 0;
    margin: 0;
}
