:root {
    --pri:      #2245f8;
    --sec:      #ffeb57;

    --text:     #000000;
    --text_sec: #606e79;    
    --bg:       #ffffff;
    --bg_sec:   #f9f9fa;
    
    --border:   #dee1e3;
    --disabled: #dee1e3;

    // --green: #00935a;
}

$pri:       var(--pri);
$sec:       var(--sec);

$text:      var(--text);
$text_sec:  var(--text_sec);

$bg:        var(--bg);
$bg_sec:    var(--bg_sec);

$border:    var(--border);
$disabled:  var(--disabled);