*{
    box-sizing: border-box;
    padding: 0;
    // margin: 0;    
}

main{
    margin: 80px 0;
    display: block;
}

.wrap{
    width: 100%;
    max-width: 900px;

    margin-right: auto;
    margin-left: auto;
}

blockquote{
    background: white;
    padding: var(--space__s);
    margin: 0;
    margin-bottom: var(--space__m);

    strong{
        padding: var(--space__s);
        display: block;
    }
}