*{
    box-sizing: border-box;
    padding: 0;
    // margin: 0;    
}

main{
    margin: 80px 0;
    display: block;
}

.wrap{
    width: 100%;
    max-width: 900px;

    margin-right: auto;
    margin-left: auto;
}

blockquote{
    background: white;
    padding: var(--space__xs);
    margin: 0;
    margin-bottom: var(--space__s);
    border: 1px solid $border;
    border-radius: 5px;
    position: relative;

    p{
        margin: 0;
    }

    strong{
        position: absolute;
        top: -20px;
        padding: var(--space__xs);
        display: none;
        background-color: $border;
        border-radius: 5px;
        
    }

    &:hover strong{
        display: block;
    }
}


hr{
    width: 60px;
    height: 5px;
    background-color: $text;
    margin: 50px 0;

}

