.colors{
    display: flex;
    flex-wrap: wrap;
}

.color-wrap{
    width: 150px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 0.8em;
    padding: var(--space__xs);
    border:1px solid  rgb(225, 225, 225);
    background: $bg;
    
    .colorbox{
        width: 100%;
        aspect-ratio: 1/1;
        background-color: rgb(225, 225, 225);
        margin-bottom: 10px;

    }

    .pri{   background-color: $pri;}   
    .sec{   background: $sec;}
    .text{  background: $text;}
    .bg{    background: $bg;}
    .text_sec{  background: $text_sec;}
    .bg_sec{    background: $bg_sec;}
    .border{    background: $border;}
    .disabled{  background: $disabled;}
}

.element-wrap{
    background-color:$bg;
    padding: var(--space__s);
}

.icon-wrap{
    background-color:$bg;
    padding: var(--space__s);
    margin-bottom: var(--space__l);
    display: inline-flex;
    flex-direction: column;
    gap: var(--space__s);
    width: 45%;
    margin-right: 4%;

    svg{
        width: 32px;
        height: 32px;
    }

    .highlight{
        overflow: scroll;
    }
}