@import '../framework/colors';
@import 'syntax_highlighting';

@import 'base';
@import 'header';

@import 'elements';

@import 'pages';

hr{
    width: 60px;
    height: 5px;
    background-color: $text;
    margin: 50px 0;

}

