<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>dPlugins Styleguide</title>
    <link rel="stylesheet" href="theme/theme.css">
</head>
<body>
    <header>
        <div class="wrap">
            <a class='logo__link' href='{{ site.baseurl }}/'>{{ site.title }}</a>
            <nav>
                {% for page in site.pages %}
                    {% unless page.name == 'index.md' %}
                    {% if page.title %}                        
                        <a chref='{{ page.url | prepend: site.baseurl }}'>{{ page.title }}</a>
                    {% endif %}
                    {% endunless %}
                {% endfor %}    
            </nav>        
        </div>        
    </header>

    <div class="wrap">
        <main>
            {{ content }}
        </main>
        
    </div>

</body>
</html>