<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>dPlugins Styleguide</title>
    
    <link rel="stylesheet" href="framework/css/framework.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body class="dp-framework">
    <header class="p-y__s">
        <div class="wrap">
            <a class='logo__link' href='{{ site.baseurl }}/'>
                <img src="{{ site.baseurl }}/assets/img/dPlugins-logo.svg" alt="{{ site.title }}">
            </a>
            <nav>
                {% for page in site.pages %}
                    {% unless page.name == 'index.md' %}
                    {% if page.title %}
                        <li class='nav__item' role='presentation'>
                        <a class='nav__link' href='{{ page.url | prepend: site.baseurl }}'>{{ page.title }}</a>
                        </li>
                    {% endif %}
                    {% endunless %}
                {% endfor %}    
            </nav>        
        </div>        
    </header>

    <div class="wrap">
        <main>
            <h1>{{ page.title }}</h1>
            {{ content }}
        </main>
    </div>       
    
</body>
</html>