---
layout: default
---

{% for element in site.elements %}
    <div class="element-wrap" id="{{ element.slug }}">
        <div class="element-wrap__title">
            <h2>{{ element.title }}</h2>
            <div class="element-wrap__toggle">
                <svg viewBox="0 0 24 24" >
                    <use xlink:href="#expand"/>
                  </svg>
            </div>
        </div>
        <div class="element-wrap__content">
            {{ element.content }}
        </div>        
    </div>
    
{% endfor %}



<script>
$('.element-wrap__title').click(function(e) {
  	e.preventDefault();
  
    var $this = $(this);
  
    if ($this.next().hasClass('show')) {
        $this.next().removeClass('show');
        $this.next().slideUp(350);
    } else {
        $this.parent().parent().find('li .inner').removeClass('show');
        $this.parent().parent().find('li .inner').slideUp(350);
        $this.next().toggleClass('show');
        $this.next().slideToggle(350);
    }
});
</script>



<svg 
    xmlns="http://www.w3.org/2000/svg" 
    height="24px" 
    viewBox="0 0 24 24" 
    width="24px" 
    fill="#000000">

        <symbol id="expand" 
                height="24px" 
                viewBox="0 0 24 24" 
                width="24px" >
                
                <path d="M0 0h24v24H0V0z" fill="none"/>
                <path d="M12 5.83L15.17 9l1.41-1.41L12 3 7.41 7.59 8.83 9 12 5.83zm0 12.34L8.83 15l-1.41 1.41L12 21l4.59-4.59L15.17 15 12 18.17z"/>
        </symbol>
        
</svg>