---
layout: default
---

{% for element in site.elements %}
    <div class="element-wrap" id="{{ element.slug }}">
        <div class="element-wrap__title">
            <h2>{{ element.title }}</h2>
            <div class="element-wrap__toggle">
                <svg viewBox="0 0 24 24" >
                    <use xlink:href="#expand"/>
                  </svg>
            </div>
        </div>
        <div class="element-wrap__content">
            {{ element.content }}
        </div>        
    </div>
    
{% endfor %}



<script>
$('.element-wrap__title').click(function(e) {
  	e.preventDefault();
  
    var $this = $(this);
  
    if ($this.next().hasClass('show')) {
        $this.next().removeClass('show');
        $this.next().slideUp(350);
    } else {
        $this.parent().parent().find('li .inner').removeClass('show');
        $this.parent().parent().find('li .inner').slideUp(350);
        $this.next().toggleClass('show');
        $this.next().slideToggle(350);
    }
});
</script>
