---
layout: pages
---

{% for pagedesign in site.pagedesigns %}
    <div class="element-wrap" id="{{ pagedesign.slug }}">
        <a class="element-wrap__title" href="{{side.baseurl}}/pagedesigns/{{pagedesign.slug}}" target="_blank">        
            <h2>{{ pagedesign.title }}</h2>
            <div class="element-wrap__toggle">
                <svg viewBox="0 0 24 24" >
                    <use xlink:href="#new-window"/>
                  </svg>
            </div>
        </a>    
    </div>
    
{% endfor %}
