@mixin input-border{
	border: 2px solid $not-active-color;
	transition: border-color 0.2s ease;

    &:hover{
    	border: 2px solid $action;	}

    &:focus{
    	border: 2px solid $action;	}

    &:active{
    	border: 2px solid $not-active-color;	}	
}


.dp--textarea textarea{
	@include input-border;
}
.dp--date input{
	@include input-border;
}
.dp--time input{
	@include input-border;
}

.dp--select select{
    @include input-border;

    color: $action;
    background-color: var(--admin_bg);
    min-width: 300px;

    &:hover,
    &:active,
    &:focus,{
        color: $action--hover;
        background-color: var(--admin_bg);
        box-shadow: 0 0 0 0px var(--admin_bg);
    }
}

input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea{
    background: var(--bg);
}